@import 'solarizeddark', 'webfonts';

body {
	font-family:$font-body;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

.siteHeader, pre, code {
	font-family:$font-mono;
}

.highlight table {
	font-size:13px;
	@media only screen and (min-width:768px) {
		font-size:14px;
	}
}

code {
	padding:0 3px;
	.highlight & {
		padding:0;
	}
}

.nowrap {
	white-space:nowrap;
}

.siteHeader {
	a {
		&:after {
			border-style:solid;
			border-bottom-width:2px;
			content:'';
			display: inline-block;
			margin-left:3px;
			width:12px;
		}
	}
	h1 {
		@include scut-rem-fallback(24);
		text-transform: uppercase;
	}
}

.siteFooter {
	font-family:$font-mono;
	@include scut-rem-fallback(12);
}


.articleHeadline {
	font-family:aleobold, serif;
	@include scut-rem-fallback(20);
	letter-spacing:2px;
	@include respond-at(480px) {
		@include scut-rem-fallback(22);
		letter-spacing: 1px;
	}
	@include respond-at(580px) {
		@include scut-rem-fallback(24);
	}
}

.heading {
	font-family:$font-mono;
	text-transform: uppercase;
	&:before {
		content:'//';
		display: inline;
	}
}

.pageHeadline, .sectionHeadline {
	font-family:$font-mono;
	@include scut-rem-fallback(48px);
	line-height:.65;
	.tags & {
		text-transform: uppercase;
	}
}

.socialWrapper {
	text-align:center;
	.icon {
		@include scut-rem-fallback(36);
	}
}

.tagCloudWrapper {
	li {
		&:after {
			content:', ';
			display: inline;
			margin-right:8px;
		}
		&:last-of-type:after {
			display: none;
		}
	}
}