$white : #F6F7F2;
$black : #171E22;
$greydk : #30383D;
$graydk : $greydk;
$greyli : #768187;
$grayli : $greyli;
$blue : #305061;

$orange:#da4f20;
$lime: #92bd0a;
$cyan: #049d84;
$violet:#9c3c86;

$green : $lime;
$greenli : #D4E744;

$borderTrans : 1px solid rgba(white,.25);

$bodyfont : aleoregular, serif;
$monofont : bpmonoregular, monospace;