
<footer class="siteFooter container" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
	<p class="scrollWrapper">[<a class="scrollLink" href="#top" title="GOTO RESTART">Back to Top</a>]</p>
	<p>v0.1 BUILD INFO</p>
	<ul class="legal noList">
		<li>A product of too much coffee, ice cream sandwiches and the overconfidence developed in a weekend Rails workshop</li>
		<li>Fonts used: Aleo and BP mono</li>
		<li>Blog powered by <a href="http://middlemanapp.com" title="Middleman">Middleman</a></li>
		<li>Hosted by <a href="http://hawkhost.com/" title="Hawkhost">HawkHost</a></li>
		<li><span class="nowrap">&copy; <span itemprop="copyrightYear"><%= Date.today.year %></span></span> <span itemprop="copyrightHolder">Ang&eacute;lique Weger</span></li>
		<li class="bmoreLink"><a href="http://madewithloveinbaltimore.org" title="Made with love in Baltimore">Made with <em>&hearts;</em> in Baltimore</a></li>
	</ul>
	<!-- Eventually add in a twitter widget and list of talks, etc. -->
</footer>