@import 'variables';

$font-headline:'Leckerli One', cursive;
$font-body:'Pompiere', sans-serif;
$font-alt:'Flamenco', serif;

.goals {
	background:$color-greyli;
	font-family:$font-body;
	font-size:18px;
	aside {
		font-family:$font-alt;
		@include scut-rem-fallback(18);
	}
}

.goals main {
	header {
		background:$color-greydk;
		padding:36px 0;
		.heading {
			font-size:56px;			
		}
	}
	.heading {
		color:$color-lime;
		font-family:$font-headline;
		text-align:center;
		text-transform: none;
		&:before {
			display:none;
		}
	}
}

.goalSummary {
	ul {
		margin:42px 0 36px;
		padding:0;
		@media only screen and (min-width:480px) {
			@include align-items(stretch);
			@include display(flex);
			@include flex-wrap(wrap);
			margin-right:auto;
			margin-left:auto;
			width:90%;
			max-width:1225px;
		}
		@media only screen and (min-width:960px) {
			width:85%;
		}
		@media only screen and (min-width:1360px) {
			width:75%;
		}
	}

	$itemColors: $color-orange, $color-cyan, $color-violet, $color-lime;
	@for $i from 1 through length($itemColors) {
		$itemColors: append($itemColors, mix(white, nth($itemColors, $i), 25));
	}
	$itemColorsLength: length($itemColors);

	li {
		@for $i from 1 through $itemColorsLength {
			&:nth-of-type(#{$itemColorsLength}n+#{$i}) .itemFront {
				background-color: nth($itemColors, $i);
			}
		}
		color:white;
		display:block;
		font-size:26px;
		list-style:none;
		position:relative;
		span {
			display:block;
			padding:15px;
			position:relative;
			text-align:center;
	 		@include size(100%);
		}
		small {
			display:block;
		}
		.itemFront, .itemBack {
			@include size(100%);			
		}
		@media only screen and (max-width:479px) {
			height:80px;
			span {
				height:80px;
			}
		}
		@media only screen and (min-width:480px) {
			@include flex-basis(50%);
			@include flex-direction(column);
			@include display(flex);
			min-height:150px;
			.itemFront, .itemBack {
				@include display(flex);
				@include flex(1 0 auto);
				@include flex-direction(column);
				@include justify-content(center);			
			}
		}
		@media only screen and (min-width:550px) {
			@include flex-basis(percentage(1/3));
		}
		@media only screen and (min-width:740px) {
			@include flex-basis(percentage(1/5));
			min-height:160px;
		}
		@media only screen and (min-width:1090px) {
			@include flex-basis(percentage(1/6));
		}
		@media only screen and (min-width:1300px) {
			min-height:175px;
		}
	}

	.itemComplete {
		overflow:hidden;
		&:hover {
			cursor:pointer;
			.itemFront {
				@include transform(rotateX(50deg));
				@include transform(perspective(1000) rotateX(50deg));
				span {
					opacity:0;
				}
			}
			.itemBack {
				@include transform(rotateX(0deg));
				@include transform(perspective(1000) rotateX(0deg));	
				z-index:99;
			}
		}
		.itemFront, .itemBack {
			@include backface-visibility(hidden);
			position:absolute;
			@include transform-style(preserve-3d);
			@include transition(transform 400ms);
		}

		.itemFront {
			@include transform(perspective(1000) rotateX(0deg));
			&, span {
				z-index:90;		
			}
			img {
				border:3px solid transparent;
				object-fit:cover;
				opacity:0.6;
				position:absolute;
				top:0;
				left:0;
				@include size(100%);
				@media only screen and (max-width:479px) {
					max-height:80px;
				}
			}
		}

		.itemBack {
			background:$color-greydk;
			@include transform(rotateX(-180deg));
			z-index:80;
			a {
				color:white;
				text-decoration:none;
			}
		}
	}
}

.goalNotes {
	background:$color-offwhite;
	padding:18px 28px;
	.container {
		margin:0 auto;
		max-width:475px;
	}
	h2, h3 {
		border-top:1px solid $color-greyli;
		margin-top:30px;
		padding-top:18px;		
	}
	h2 {
		font-family:$font-alt;
		@include scut-rem-fallback(30);
		font-weight:600;
		text-transform:uppercase;
		&:before {
			content:'';
			display:inline;
			border-left:24px solid $color-lime;
			margin-right: 6px;
		}
		&:first-of-type {
			border-top:0;
			padding-top:0;
		}
	}
	h3 {
		color:$color-violet;
		font-family:$font-headline;
		@include scut-rem-fallback(22);
	}
	ul {
		color: $color-lime;
		margin:12px 0;
		padding-left:18px;
	}
	li {
		font-family: $font-alt;
		font-weight:600;
		list-style-type:disc;
	}
	p {
		@include scut-rem-fallback(24);
		margin-bottom:9px;
	}
}