---
title: What I'm Doing Now
pageable: false
---

<% @class = "l-fullwidth" %>

<h2 class="heading">Current</h2>
<h1 class="pageHeadline">What I'm Doing Now</h1>

<div class="articleSingle">
	<article>
		<div class="container">
			<div class="articleContent">
				<h2>Currently</h2>
				<p>I'm living in Baltimore, working as a front-end developer for a Detroit-based company and co-organizing Baltimore's chapter of Girl Develop It.</p>

				<h4>I am enjoying:</h4>
				<ul>
					<li>Creating and sharing my <a href="http://instagram.com/messypixels">#CBDrawADay doodles</a></li>
					<li>Working through my <a href="/2016-goals">38-in-38 goals</a>, including
						<ul>
							<li>Finishing Couch to 5k and running my first 5k</li>
							<li><a href="https://www.goodreads.com/review/list/50922548-angelique-weger?utf8=%E2%9C%93&shelf=2016-reads&title=angelique-weger&sort=date_read&order=d">Reading more in 2016</a>
								<ul>
									<li>Currently reading: Dune by Frank Herbert</li>
									<li>Last read:  The Sleeper and the Spindle by Neil Gaiman</li>
								</ul>
							</li>
							<li>Posting more to <a href="/">my blog</a></li>
						</ul>
					</li>
				</ul>

				<h4>I am looking forward to:</h4>
				<ul>
					<li>Celebrating our GDI chapter's second anniversary in February</li>
					<li>Celebrating my 14th wedding anniversary in April</li>
					<li>Collaborating with my husband on a Raspberry Pi project</li>
				</ul>

				<h4>I am interested in:</h4>
				<ul>
					<li>Speaking about Sass, HTML, wireframes, buuilding better web forms</li>
					<li>Hearing your recommendations about great places in Baltimore and Detroit</li>
				</ul>

				<h4>I am not interested in:</h4>
				<ul>
					<li>Speaking to groups about being a woman in tech</li>
					<li>Unpaid writing or speaking gigs</li>
					<li>Speaking or attending events that don't publish a Code of Conduct</li>
				</ul>

				<h4>I can be reached</h4>
				<ul>
					<li>via <a href="http://twitter.com/messypixels">Twitter</a></li>
					<li>via <a href="mailto:hello@angeliqueweger.com">email</a></li>
				</ul>
			</div>
		</div>
		<footer class="articleFooter">
			<div class="dateWrapper elementWrapper">
				<span class="metaIntro">Last updated on</span>
				<span class="metaInfo"><time itemprop="datePublished" datetime="2016-01-13">Jan 13, 2016</time></span>
			</div>
			<div class="geolocationWrapper elementWrapper">
				<span class="metaIntro">While in</span>
				<span class="metaInfo">Baltimore</span>
			</div>
			<div class="noteWrapper elementWrapper">
				<span class="metaIntro">Inspired by</span>
				<span class="metaInfo">Derek Sivers and <a href="http://nownownow.com/about">nownownow.com</a></span>
			</div>
		</footer>
	</article>
</div>
