---
title: What I'm Doing Now
pageable: false
---

<% @class = "l-fullwidth" %>

<h2 class="heading">Current</h2>
<h1 class="pageHeadline">What I'm Doing Now</h1>

<div class="articleSingle">
	<article>
		<div class="container">
			<div class="articleContent">
				<h2>Currently</h2>
				<p>I'm living in Baltimore, working as a UX engineer for Fractured Atlas and teaching front-end web development at MICA.</p>

				<h4>I am enjoying:</h4>
				<ul>
					<li>learning Elm</li>
					<li>learning to weave</li>
					<li>the bounty from our home garden</li>
				</ul>

				<h4>I am looking forward to:</h4>
				<ul>
					<li>starting at MICA</li>
					<li>completing a major project at work 🤞</li>
					<li>days with<del>out</del> less humidity</li>
				</ul>

				<h4>I can be reached</h4>
				<ul>
					<li>via <a href="http://twitter.com/messypixels">Twitter</a></li>
					<li>via <a href="mailto:hello@angeliqueweger.com">email</a></li>
				</ul>
			</div>
		</div>
		<footer class="articleFooter">
			<div class="dateWrapper elementWrapper">
				<span class="metaIntro">Last updated on</span>
				<span class="metaInfo"><time itemprop="datePublished" datetime="2018-08-29">Aug 29, 2018</time></span>
			</div>
			<div class="geolocationWrapper elementWrapper">
				<span class="metaIntro">While in</span>
				<span class="metaInfo">Baltimore</span>
			</div>
			<div class="noteWrapper elementWrapper">
				<span class="metaIntro">Inspired by</span>
				<span class="metaInfo">Derek Sivers and <a href="http://nownownow.com/about">nownownow.com</a></span>
			</div>
		</footer>
	</article>
</div>
