---
title: What I'm Doing Now
pageable: false
---

<% @class = "l-fullwidth" %>

<h2 class="heading">Current</h2>
<h1 class="pageHeadline">What I'm Doing Now</h1>

<div class="articleSingle">
	<article>
		<div class="container">
			<div class="articleContent">
				<h2>Currently</h2>
				<p>I'm living in Baltimore, working as a UX engineer for Fractured Atlas and co-organizing Baltimore's chapter of Girl Develop It.</p>

				<h4>I am enjoying:</h4>
				<ul>
					<li>My new gig! I started at <a href="http://fracturedatlas.org">Fractured Atlas</a> in May 2017.</li>
					<li>Working with a mainly remote team.</li>
					<li>My new-to-me Babe spinning wheel</li>
					<li><a href="https://www.facebook.com/powfeministcomicbookclub/">Baltimore's feminist comic book club</a></li>
				</ul>

				<h4>I am looking forward to:</h4>
				<ul>
					<li>warm crafty porch-sit weather</li>
					<li>learning Elm</li>
					<li>a couple of upcoming summer trips</li>
				</ul>

				<h4>I am interested in speaking about or leading workshops on the following topics:</h4>
				<ul>
					<li>Sass</li>
					<li>HTML wireframes
					<li>building better web forms</li>
					<li>incorporating accessibility into your web workflow</li>
					<li>working remotely</li>
					<li>leading a better front-end hiring experience</li>
				</ul>

				<h4>I am not interested in:</h4>
				<ul>
					<li>Speaking to groups about being a woman in tech</li>
					<li>Unpaid writing or speaking gigs</li>
					<li>Speaking or attending events that don't publish a Code of Conduct</li>
				</ul>

				<h4>I can be reached</h4>
				<ul>
					<li>via <a href="http://twitter.com/messypixels">Twitter</a></li>
					<li>via <a href="mailto:hello@angeliqueweger.com">email</a></li>
				</ul>
			</div>
		</div>
		<footer class="articleFooter">
			<div class="dateWrapper elementWrapper">
				<span class="metaIntro">Last updated on</span>
				<span class="metaInfo"><time itemprop="datePublished" datetime="2017-05-20">May 20, 2017</time></span>
			</div>
			<div class="geolocationWrapper elementWrapper">
				<span class="metaIntro">While in</span>
				<span class="metaInfo">Baltimore</span>
			</div>
			<div class="noteWrapper elementWrapper">
				<span class="metaIntro">Inspired by</span>
				<span class="metaInfo">Derek Sivers and <a href="http://nownownow.com/about">nownownow.com</a></span>
			</div>
		</footer>
	</article>
</div>
